REMOTE_SSH_HOST="root@10.0.1.10"
REMOTE_VM_ID="100"
REMOTE_WORKDIR="/root/workspace/macos-oc"
REMOTE_ISO_DIR="/var/lib/vz/template/iso"
OC_ISO_NAME="opencore-osx-proxmox-vm.iso"
RESETNVRAM_ISO_NAME="opencore-resetnvram.iso"
INSTALLER_ISO_NAME="macOS-Sequoia-15.4.iso"
